/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    overflow-x: hidden;
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}

.white-space {
    height: 30px;
}

.youtube {
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.team-member {
    display: block;
    padding-bottom: 10px;
    padding-top: 30px;
}
.team-image {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
}
.team-image-container, .team-info-container {
    display: inline-block;
}
.team-info-container {
    width: calc(98% - 14em);
    vertical-align: top;
    margin-left: 20px;
}
.team-member-name {
    color: $secondary !important;
}
.team-member-position {
    margin-top: -10px;
}
.linkedin-holder {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background: $blue-grey;
    color: white !important;
    bottom: 50px;
    left: 130px;
    text-align: center;
    font-size: 20px;
}
.linkedin-icon {
    position: relative;
    top: 20%;
}
@media screen and (max-width: $tablet - 1px) {
    .team-image-container, .team-info-container {
        display: block;
        text-align: center;
    }
    .team-info-container {
        width: 100%;
        margin-left: 0;
        margin-top: -35px;
    }
    .linkedin-holder {
        left: calc(50% + 30px);
    }
    .team-member {
        margin-bottom: 30px;
    }
}

.blog {
    &_entry {
        margin-top: 20px;
        margin-bottom: 50px;
        list-style: none;
    }
    &_date {
        font-size: 20px;
        display: block;
    }
    &_title {
        font-size: 25px;
        color: $secondary !important;
    }
}

