/* ==========================================================================
Navbar
========================================================================== */

//Navbar
.navbar.is-fresh {
    position: fixed;
    min-height: 3.8rem;
    transition: all 0.3s;
    z-index: 99;
    width: 100%;
    .container {
        min-height: 4rem;
    }
    &.no-shadow {
        box-shadow: none !important;
        background-color: $blue-grey;
    }
    //Responsive menu icon
    .navbar-burger {
        width: 4rem;
        height: 4rem;
        color: $white;
    }
    //Brand
    .navbar-brand {
        min-height: 4rem;
        img {
            max-height: 36px !important;
            height: 36px;
        }
        //Removing navbar item default hover behaviour
        &:hover {
            .navbar-item {
                background: transparent !important;
            }
        }
    }
    #navbar-menu {
        background-color: $blue-grey;
        color: $white !important;
    }
    .navbar-end {
        align-items: center;
        color: white;
    }
    //Navbar items
    .navbar-item {
        color: $white;
        &.is-secondary {
            &:hover {
                color: $secondary !important;
            }
        }
        &.has-dropdown {
            padding: 10px 0;
            .navbar-link {
                color: $white;
                &:after {
                    top: 55%;
                    height: 0.5em;
                    width: 0.5em;
                    border-width: 2px;
                    border-color: $white;
                }
            }
            .navbar-dropdown {
                top: 3.4rem;
                min-width: 220px;
                margin-top: 4px;
                border-top-color: $secondary;

                .navbar-item {
                    padding: 10px 20px;
                    color: $blue-grey;
                }
                @media screen and (max-width: $desktop - 1px) {
                    .navbar-item {
                        color: $white;
                    }
                }
            }
            &:hover {
                .navbar-link {
                    color: $secondary;
                    &:after {
                        border-color: $secondary;
                    }
                }
            }
        }
        .signup {
            display: block;
            line-height: 0;
            font-size: 0.9rem !important;
        }
    }

    //Fixed navbar modifier
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 4rem !important;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        a {
            color: $blue-grey;
            &:hover {
                color: $primary;
            }
        }
    }
}

//Cloned fixed navbar
#navbar-clone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $blue-grey;
    transform: translateY(-100%);
    z-index: 100;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    &.is-active {
        transform: translateY(0);
    }
}

// .accordion {
//     width: 100%;
//     max-width: 1000px;
//     margin: 2rem auto;
//   }
// .accordion-nav {
//     background-color: $secondary;
//     color: #fff;
//     margin: 1rem 0;
//     border-radius: 0.5rem;
//     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
// }
@media screen and (max-width: 927px) {
    .accordion-nav-header {
        // padding: 0.5rem 3rem 0.5rem 1rem;
        // min-height: 3.5rem;
        // line-height: 1.25rem;
        // font-weight: bold;
        // display: flex;
        // align-items: center;
        // position: relative;
        cursor: pointer;
    }
    // .navbar-item {
    //     &.has-dropdown {
    //         padding: 0;
    //     }
    // }
    // .accordion-item-header::after {
    //     content: "\002B";
    //     font-size: 2rem;
    //     position: absolute;
    //     display: flex;
    //     right: 1rem;
    //     top: 1rem;
    // }
    // .accordion-nav-header.active::after {
    //     content: "\2212";
    // }
    .accordion-nav-body {
        max-height: 0;
        padding-bottom: 0rem;
        padding-top: 0rem;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

// .accordion-item-body-content {
//     padding: 1rem;
//     line-height: 1.5rem;
//     border-top: 2px solid;
//     border-width: 2px 0 0 0;
//     border-image: linear-gradient(to right, rgba(255, 255, 255, 0.001), #fff, rgba(255, 255, 255, 0.001)) 1;
// }
