{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $socialMedia := index $footer "socialmedia" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $socialMediaTitle    := index $footer "socialmediatitle" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          <img src="{{ printf "/images/logos/%s" $logo | relURL }}">
        </div>
        <div class="footer-column">
          <div id="company-info" style="margin-top: 20px;">
            <h3>Prosper Social Finance CIC</h3>
            <p>Company No. SC588686</p>
          </div>
          <div style="margin-top: 20px;">
            <ul class="link-list">
              <li>
                <a href="https://ryanschuller.com/">
                  Website by Ryan Schuller
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {{- range $quickLinks }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ .title }}</h3>
          </div>
          <ul class="link-list">
            {{- range .links }}
            <li>
              <a href="{{ .link }}">
                {{ .text }}
              </a>
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
      {{- end }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ $socialMediaTitle }}</h3>
            <nav class="level is-mobile">
              <div class="level-left">
                {{- range $socialMedia }}
                <a class="level-item" href="{{ .link }}">
                  <span class="icon"><i class="fa fa-{{ .icon }}"></i></span>
                </a>
                {{- end }}
              </div>
            </nav>
            <ul class="link-list">
              <li>
                <a href="/contact">
                  Contact us
                </a>
              </li>
              <li>
                <a href="/privacy-policy">
                  Privacy policy
                </a>
              </li>
            </ul>

            {{- if $bulmaLogo }}
            <a href="https://bulma.io" target="_blank">
              <img src="{{ "/images/logos/made-with-bulma.png" | relURL }}" alt="Made with Bulma" width="128"
                height="24">
            </a>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>